body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(-45deg, #000000, #1a1a1a, #2b2b2b, #000000);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}